// Specific CSS for your home-page
.banner {
  height: 100vh;
}

.search-form {
  width: 70%;
  height: 2em;
  font-size: 1.5em;
  color: black;
  border: none;
  margin: 10px auto;
}

.search-form input[type=submit] {
  color: white;
  background-color: black;
  box-shadow: none;
  border: none;
  width: 50%;
  padding: 10px;
  margin: 10px 0px 10px 20px;

}

.search-form input[type=text] {
  height: 2em;
  font-family: "IBM Plex Sans", "Helvetica", sans-serif;
  font-weight: 400;
  padding: 10px;
}
