 <div style='margin-top:  100px;'></div>
<div class="message">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="message-name">
    <%  @bookings.each do |booking|%>
    <h3> <%= booking.event.organiser.name %></h3>
  </div>
  <div class="message-body">
    <p><strong>booking . message needs to come here</strong></p>
    <p>
      Booking message needs to be here but it is not...
    </p>
  </div>
  <div class="message-status">
    <p class="status pending"><h3>Status: <%= booking.status %></h3></p>
    <p class="price"><%= booking.event.price %></p>
  </div>
  <% end %>
</div>



