<h3>Add a new booking</h3>

<div class="rapp-form">
  <%= simple_form_for [@event, @booking] do |f| %>
    <%= f.select :status , ['Pending'] %>

    <%= f.input :message %>
    <%= f.submit %>
  <% end %>
</div>
