
<div id="wrap-content">

  <h1>Results for <%= params[:event][:query].capitalize %></h1>
  <div id="map" style="width: 100%; height: 300px; margin: 10px auto;" data-markers="<%= @markers.to_json %>"></div>
  <div id="search-result">
    <strong> Bands that are matching your search :</strong>
    <% @bands.each do |band| %>
      <span class="band-result"><%= link_to band.name, band_path(band) %></span>
    <% end %>
  </div>

  <div id="card-container">
    <%= render 'components/card' %>
  </div>

</div>
