<div id="star"></div>
<p>Your rating</p>

<%= simple_form_for [@booking, @rating] do |f| %>


<% f.error.notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :stars, collection: 0..5 %>

  <%= f.submit class: "btn btn-primary"%>
<% end %>
