

<div class="navbar-wagon">
  <!-- Logo -->
  <div class="text">
    <h1>RAPP</h1>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Home</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Saved</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Sign-up</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Log-in</a>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="the" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Team members</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Search</a></li>
        <li><a href="#">Become an Organizer</a></li>
        <li><a href="#">Log out</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://stmed.net/sites/default/files/band-%28music%29-wallpapers-30255-8949818.jpg');">

    </div>
</div>
