<div id="wrap-content">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 60%), url('https://cdn.dribbble.com/users/754899/screenshots/3961207/aura_004.png');">
    <div class="banner-content">
  </div>

  <div class="grow">
  <% @bands.each do |band| %>
    <h2><%= link_to band.name, band_path(band) %></h2>
  <% end %>
</div>
</div>

