<h1>Add band</h1>
<%#= link_to "Add Band", bands_path, id: "band-add-button"%>
  <%= simple_form_for @band do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%#= f.input :commodities %>
  <%#= f.input :price %>
  <%#= f.input :equipments %>
  <%= f.submit "Submit" , class: "btn btn-primary" %>
  <% end %>
