<div id="wrap-content">
  <h1> <%= @band.name %> </h1>
  <%= link_to "Delete", bands_path(@band), method: :delete %>
  <%= link_to "Edit band", edit_band_path(@band) %>
  <%= link_to "Back to band page", bands_path %>
</div>
