/* Main navbar */
.navbar-wagon {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
  transition: all 0.3s ease;
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid black;
  z-index: 400;
}

/* Logo */
.navbar-rapp-brand  {
  a {
    color: whitesmoke;
    display: flex;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  a:hover {
     text-decoration: none !important;
  }
  .rapp-logo {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    font-weight: 700 !important;
    padding: 0;
    margin: 0px 0px 10px 0px;
    font-size: 40px;
  }
}



/* User Avatar */
.navbar-wagon .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid black;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: black;
  font-size: 1.5em;
  font-family: "IBM Plex Sans", "Helvetica", sans-serif;
  font-weight: 700;
}
.navbar-wagon-link:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  border: 3px solid black;
}
.navbar-wagon-dropdown-menu li > a {
  font-family: "IBM Plex Sans", "Helvetica", sans-serif;
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: black !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: rgb(50, 50, 50) !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 3px solid black;
  border-top: 3px solid black;
}

.text {
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-weight: 700 !important;
}
