// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

@import "components/quarter-screen-banner";
@import "components/message";
@import "components/map";

body {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
}

#wrap-content {
  position: relative;
  top: 30px;
  padding: 50px;
}

.card {
  margin-top: 80px;
}

h1 {
  text-align: center;
  font-weight: 700;
  border-bottom: 5px dotted black;
  padding-bottom: 15px;
  color: black;
}

.rapp-form form {
  height: 100%;
  width: 500px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px;
  margin: 0px auto;
}

.rapp-form label {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: left;
  padding: 10px;
}

.rapp-form input {
  border-radius: 0px 0px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  &:focus {
    box-shadow: none;
  }
}

.rapp-form textarea {
  border-radius: 0px 0px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  &:focus {
    box-shadow: none;
  }
}

.rapp-form h2 {
  margin:0;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 3px dotted white;
  padding-bottom: 10px;
}

.rapp-form .btn {
  background-color: white;
  color: black;
  width: 50%;
  border-radius: none;
  transition-duration: 0.4s;
  margin-top: 20px;
}

.rapp-form .btn:hover {
  background-color: rgb(210, 210, 210);
}

.rapp-form select {
  background-color: black;
}

.session-link {
  text-align: center;
  margin: 20px;
}

.breadcrumb {
  font-weight: 700;
  padding: 0;
  margin: 10px 0px 10px 0px;
}

.btn-container {
  display: flex;
}

.default-btn {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  padding: 15px;
  margin-right: 10px;
  width: 100px;
  font-size: 1em;
  &:hover {
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25) !important;
    color: white;
    text-decoration: none;
    background-color: rgb(40, 40, 40);
  }
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.grow a {
  color: white;
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 300;

  text-height: 10px;
}

 .grow:hover {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  text-decoration: none;
}

.search-result {
  margin-top: 20px;
  width: 100%;
  border: 3px solid black;
  display: flex;
}


.band-result {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px 10px 10px 0px;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}
