// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
}

#wrap-content {
  position: relative;
  top: 30px;
  padding: 50px;
}

.card {
  margin-top: 80px;
}

h1 {
  text-align: center;
  font-weight: 700;
  border-bottom: 5px dotted black;
  padding-bottom: 15px;
  color: black;
}

.rapp-form form {
  width: 500px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px;
  margin: 0px auto;
}

.rapp-form label {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: left;
  padding: 10px;
}

.rapp-form .btn {
  background-color: white;
  color: black;
  width: 50%;
  border-radius: none;
  transition-duration: 0.4s;
}

.rapp-form .btn:hover {
  background-color: rgb(210, 210, 210);
}

.session-link {
  text-align: center;
  margin: 20px;
}
