// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

@import "components/quarter-screen-banner";
@import "components/messages";
@import "components/map";

body {
}

#wrap-content {
  position: relative;
  top: 30px;
  padding: 50px;
}

.card {
  margin-top: 80px;
}

h1 {
  text-align: center;
  font-weight: 700;
  border-bottom: 5px dotted black;
  padding-bottom: 15px;
  color: black;
}

.rapp-form form {
  width: 500px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px;
  margin: 0px auto;
}

.rapp-form label {
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: left;
  padding: 10px;
}

.rapp-form .btn {
  background-color: white;
  color: black;
  width: 50%;
  border-radius: none;
  transition-duration: 0.4s;
}

.rapp-form .btn:hover {
  background-color: rgb(210, 210, 210);
}

.session-link {
  text-align: center;
  margin: 20px;
}

.breadcrumb {
  font-weight: 700;
  padding: 0;
  margin: 10px 0px 10px 0px;
}

.banner {
  color: white;
  text-align: center;
  height: 125vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.grow a {
  color: white;
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 300;

  text-height: 10px;
}

 .grow:hover {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  text-decoration: none;
}
